body{
    background: black;
    margin: 0;
}

.post-header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 8px; 
    font-size:larger;
    padding: 10px;
}

.Icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
     
}

.fa-regular{
    margin: 5px;
}

p {
    padding: 15px;
    margin: auto;
}

.post{
    background: white;
    border-radius: 20px;
    margin-top: 10px;
}

.post img{
    width: 100%;    
}


div.container{
    width: 600px;
    margin: auto;
}